/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/public/uploads/avatars/*
/public/uploads/alunos/*
!/public/uploads/alunos/coisa.txt
!/public/uploads/avatars/default.jpg
/.idea
Homestead.json
Homestead.yaml
.env
.env.example